.center {
	text-align: center;
}

.cust-res-container {
	width: 800px;
	margin: 40px auto;
}

.parameters {
	padding: 4rem;
	min-height: 300px;
	border: 1px solid black;
}

.results {
	padding: 4rem;
	margin: 2rem 0 0;
	height: 200px;
	border: 1px solid black;
}

.vdiv {
	display: inline-block;
	content: "";
	width: 100%;
	border-top: 1px solid #ccc;
	margin: 24px auto 16px;
}
